* {
  box-sizing: border-box;
}

@font-face {
  font-family: "OpenSansReg";
  src: url("../fonts/OpenSans-Regular.woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSansReg";
  src: url("../fonts/OpenSans-Regular.woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "OpenSansReg";
  src: url("../fonts/OpenSans-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "OpenSansBold";
  src: url("../fonts/OpenSans-Bold.woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "OpenSansBold";
  src: url("../fonts/OpenSans-Bold.woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "OpenSansBold";
  src: url("../fonts/OpenSans-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  text-transform: uppercase;
}

p {
  margin-top: 0;
  font-size: 14px;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-top: 20px;
}

input: focus {
  outline: none;
}

.page-header {
  background-color: #000000;
  background-image: url("../images/banner-bg.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: 60px;
  padding-top: 26px;
  padding-bottom: 140px;
}

.page-header::after {
  content: "";
  background-color: black;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.container-wrapper {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  height: auto;
  min-width: 640px;
  padding-top: 0px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 0px;
  font-size: 24px;
}

.page-header-menu {
  position: relative;
  display: flex;
  z-index: 2;
  flex-direction: row;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}

.logo {
  width: 183px;
}

.page-title {
  position: relative;
  z-index: 2;
  font-family: "OpenSansBold";
  font-size: 45px;
  line-height: 1.8;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  width: 730px;
  margin: 0 auto;
}

.page-menu {
  display: flex;
}

.page-menu-list {
  display: flex;
  justify-content: space-between;
}

.page-menu-link:hover {
  text-decoration: underline;
}

.page-menu-item:nth-child(n + 2) {
  margin-left: 36px;
}

.page-menu-link {
  color: #ffffff;
  text-decoration: none;
  font-family: "OpenSansReg", sans-serif;
  text-transform: uppercase;
  font-size: 24px;
  line-height: normal;
}

.menu_list {
  display: none;
}
}
.main {
  width: 80%;
  max-width: 1200px;
  height: auto; 
  margin: 0 auto;
  margin-right: 156px;
}

.trend {
  display: block;
  width: 100%;
  height: 400px;
  margin: 0 auto;
  align-items: center; 
  justify-content: center;
}

.titlle {
  text-align: center;
  position: relative;
  z-index: 3;
  font-size: 24px;
  font-family: "OpenSansBold";
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  margin: 0 auto;
}

.titlle::after {
  content: "";
  display: block;
  width: 66px;
  height: 3px;
  background-color: #b59f5b;
  background-position: 50% 50%;
  margin: 13px auto 0 auto;
  margin-bottom: 30px;
}

.shopp-container {
  display: flex;
  width: 100%;
}

.trend__card {
  color: #000000;
  width: 25%;
  margin-left: 25px;
  display: flex;
  position: relative;
  z-index: -1;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

.trend__card::after {
  content: '';
  width: 100%
  height: auto;
  background-color: black;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.trend__card:nth-child(1){
  background-image: url("../images/trend1.jpg");
}

.trend__card:nth-child(2){
  background-image: url("../images/trend2.jpg");
}

.trend__card:nth-child(3) {
  background-image: url("../images/trend3.jpg");
}

.trend__card:nth-child(4){
  background-image: url("../images/trend4.jpg");
}

.frame {
  margin-bottom: 30px;
  margin-top: 200px;
  margin-right: 20px;
  margin-left: 30px;
  position: relative;
  padding-top: 40px;
  padding-left: 30px;
  z-index: 2;
  border: 4px solid #b59f5b;
}

.header-post {
  font-family: "OpenSansBold", sans-serif;
  text-transform: uppercase;
  color: #b59f5b;
  z-index: 3;
  position: relative;
  top:-25px;
  font-size: 24px;
  line-height: 1.8;
}

.post-item-tags {
  display: flex;
  font-size: 24px;
  font-family: "OpenSansBold";
  font-weight: 700;
  line-height: 2;
  text-transform: uppercase;
  z-index: 3;
  position: relative;
}

.item-tags {
  display: flex;
  white-space: nowrap;
  margin-left: 20px;
}

.item-tags-link {
  flex-wrap: wrap;
  font-size: 24px;
  line-height: 1.2;
  padding-bottom: 5px;
  text-decoration: none;
  color: #b59f5b;
  white-space: nowrap;
  font-family: "OpenSansBold";
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 20px;
}

.shopp-link {
  display: block;
  text-decoration: none;
  color: #ffffff;
  text-decoration: underline;
}

.shopp-card-title {
  display: block;
  font-size: 24px;
  font-weight: 700;
  line-height: 2;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  font-family: "OpenSansBold";
  font-weight: 700;
  margin-left: 25px;
}

.shopp-card-title:hover {
  text-decoration: underline;
}

.first-page-aside {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  max-width: 1660px;
  margin: 0 auto; 
  margin-top: 30px;
}
.first-page {
  display: flex;
  width: 67%;
  flex-direction: column;
  margin: 0 auto; 
  margin-top: 130px;
}

.post-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-left: 10px; 
}

.article-image {
  margin-left: 10px;
  margin-right: 30px;
}

.post-image {
  margin-top: 60px;
}
.header-posts:nth-child(1) {
  margin-top: 30px;
  margin-left: 15px;
}

.header-posts {
  font-family: "OpenSansBold", sans-serif;
  text-transform: uppercase;
  color: #b59f5b;
  font-size: 24px;
  margin-bottom: 10px;
  font-family: "OpenSansBold";
  font-weight: 700;
  margin-top: 40px;
}

.post-item:nth-child(1) {
  margin-top: 15px;
}
.post-item:nth-child(n + 2) {
  margin-top: 10px;
  margin-bottom: 10px;
}

.post-item-content {
  flex: 1;
  margin-top: 15px;
}
.post-item-content:nth-child(n + 2) {
  flex: 2;
  margin-top: 15px;
}

.item-tag {
}

.item-tag:nth-child(n + 2) {
  margin-left: 15px;
}

.item-tag-link {
  font-size: 24px;
  line-height: 1.8;
  text-decoration: none;
  color: #b59f5b;
  margin-bottom: 10px;
  margin-top: 20px;
  font-family: "OpenSansBold";
  font-weight: 700;
}

.item-tag-link:hover {
  text-decoration: underline;
}

.post-title {
  font-family: "OpenSansBold", sans-serif;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 1.1;
  margin-top: 10px;
  margin-left: 15px;
  margin-right: 40px;
}

.post-title-link {
  text-decoration: none;
  color: #0f0d0e;
  font-size: 24px;
  line-height: 1.6;
  margin-right: 10px;
}

.post-after-title {
  display: flex;
  font-style: normal;
  font-size: 24px;
  line-height: 1.4;
  margin-left: 15px;
}

.post-datetime {
  color: #989898;
  font-size: 24px;
  line-height: 1.4;
  font-family: "OpenSansReg", sans-serif;
  margin-right: 10px;
  margin-bottom: 20px;
}

.post-item-author {
  margin-left: 15px;
}

.post-author-link {
  font-family: "OpenSansBold", sans-serif;
  font-style: normal;
  color: #000000;
}

.post-author-link:hover {
  text-decoration: underline;
}

.post-content {
  margin-top: 0px;
}

.post-content-text {
  font-family: "OpenSansReg", sans-serif;
  font-size: 24px;
  line-height: 1.8;
  text-decoration: none;
  margin-bottom: 0px;
  margin-right: 40px;
  margin-left: 20px;
}
.sidebar {
  width: 490px;
  width: 35%;
  display: flex;
  margin-left: 15px;
  flex-direction: row;
  margin-top: 20px;
}
.form-dlok {
  flex-direction: column;
  margin-top: 20px;
}
.visually-hidden {
  width: 3px;
  height: 3px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;  
  border-radius:0;
  -webkit-appearance:none;
  -moz-appearance:none;
  font-size: 24px;
  line-height: 1.8;
}

.sidebar-block {
  display: block;
  margin-top: 60px;
}

.sidebar-block-title {
  font-family: "OpenSansBold", sans-serif;
  font-size: 24px;
  color: #0f0d0e;
  text-align: center;
  font-family: "OpenSansBold";
  font-weight: 700;
  margin-top: 130px;
}


.sidebar-block-title::after {
  content: "";
  display: block;
  width: 66px;
  height: 3px;
  background-color: #b59f5b;
  background-position: 50% 50%;
  margin: 13px auto 0 auto;
}

.sidebar-post-items {
  display: block;
  height: 90px;
  margin-top: 30px;
}

.sidebar-post-items:nth-child(n + 2) {
  margin-top: 20px;
}

.sidebar-post-item {
  display: flex;
  align-items: stretch;
}

.sidebar-post-image {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 30px;
}

.sidebar-image {
  width: 90px;
}

.sidebar-item-time-header {
  flex: 1;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.sidebar-item-title {
  font-size: 24px;
  line-height: 1.5;
  font-family: "OpenSansBold", sans-serif;
  margin-bottom: 20px;
}

.sidebar-item-title-link {
  color: #000000;
  font-size: 24px;
  line-height: 1.2;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "OpenSansBold", sans-serif;
}

.sidebar-item-title-link:hover,
.sidebar-theme-link:hover,
.post-title-link:hover {
  color: #b59f5b;
}
.sidebar-theme-link {
  line-height: 1.2;
  font-family: "OpenSansBold", sans-serif;
  font-size: 24px;
  color: #000000;
  line-height: 40px;
  display: inline-block;  
}

.search-form {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.search-form:focus-within {
  outline: 1px solid #b59f5b;
}

.search-group {
  width: 100%;
}
.field-search {
  border: none;
  background-color: #f4f7f6;
  padding-right: 18px;
  padding-left: 18px;
  width: 100%;
  height: 48px;
  font-size: 24px;
  flex-shrink: 0;
}

.search-button {
  height: 48px;
  width: 48px;
  background-color: #b59f5b;
  border: none;
  vertical-align: baseline;
  background-image: url("../svg/search.svg");
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: center;
}

.button:hover {
  background-color: #323232;
}

.subscribe-form {
  display: flex;
  flex-direction: column;
}

.subscribe-group {
 width: 100%;    
}

.email-field {
  border: none;
  background-color: #f4f7f6;
  padding-right: 18px;
  padding-left: 18px;
  height: 48px;
  margin-bottom: 18px;
  font-size: 24px;
  width: 100%;    
}

.email-field:focus {
  outline: 1px solid #b59f5b;
}

.subscribe-button {
  background-color: #b59f5b;
  color: #ffffff;
  font-family: "OpenSansBold", sans-serif;
  font-size: 24px;
  line-height: normal;
  border: none;
  text-transform: uppercase;
  padding: 15px 84px;
}

.sidebar-tags {
  display: flex;
  flex-wrap: wrap;
  font-family: "OpenSansBold", sans-serif;
  font-size: 24px;
  line-height: normal;
}

.sidebar-tag {
  border: 3px solid #eeeeee;
  padding: 8px 16px;
  margin-bottom: 8px;
}

.sidebar-tag:hover {
  border: 3px solid #b59f5b;
}

.sidebar-tag:nth-child(n + 2) {
  margin-left: 6px;
}

.sidebar-tag:nth-child(4) {
  margin-left: 0;
}

.sidebar-tag:nth-child(7) {
  margin-left: 0;
}

.sidebar-tag-link {
  font-family: "OpenSansBold", sans-serif;
  text-transform: uppercase;
  font-size: 24px;
}

.sidebar-themes {
  display: block;
}

.sidebar-theme {
  position: relative;
  border-bottom: 1px solid #eeeeee;
}

.sidebar-theme-link {
  font-family: "OpenSansBold", sans-serif;
  font-size: 24px;
  color: #000000;
  line-height: 40px;
}
.sidebar-theme-item {
  font-family: "OpenSansBold", sans-serif;
  color: #b59f5b;
  font-size: 24px;
  line-height: normal;
  vertical-align: super;
}

.shop {
  display: block;
  width: 100%;
  height: 400px;
  margin-left: 325px;
}
.shop-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 1.1;
  margin-bottom: 30px;
  margin-top: 20px;
}
.shop-title::after {
  content: "";
  border-bottom: 3px #b59f5b solid;
  width: 80px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12px;
}
.shop-container {
  display: flex;
  flex-wrap: nowrap;
}
.shop-card {
  color: #000000;
  width: 25%;
  margin-left: 25px;
  margin-right: 90px;
  display: flex;
  position: relative;
  z-index: -1;
  flex-shrink: 1;
}

.shop-card:nth-child(1) {
  background: url("../images/shop-item-desk1.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}
.shop-card:nth-child(2)  {
  background: url("../images/shop-item-desk2.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}
.shop-card:nth-child(3)  {
  background: url("../images/shop-item-desk3.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

.shop-frame {
  border: 3px solid #b59f5b;
  padding-top: 10px;
  padding-left: 40px;
  position: relative;
  top: 290px;
}

.card-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.6;
  text-transform: uppercase;
}
.shop-text {
  font-size: 24px;
  line-height: 1.6;
}
.shop-link {
  text-decoration: none;
  color: #b59f5b;
  font-size: 24px;
}
.shop-link a:hover {
  text-decoration: underline;
}
.shop-card-order {
  display: flex;
  justify-content: space-between;
  margin-top: 26px;
  margin-bottom: 26px;
  margin-right: 20px;
}
.button-shop-button {
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: right 90% bottom 90% ;
  background-color: #b59f5b;
  height: 48px;
  font-size: 24px;
  border: 0;
  font-family: inherit;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
  background-position: center;
}

.button-shop-button:hover {
  background-color: #323232;

  border: 10px solid #b59f5b;
}

.price {
  display: block;
}
.price-box {
  display: flex;
}
.price-mark {
  margin-left: 4px;
}
.actual-price {
  font-size: 24px;
  font-weight: 700;
  color: #000000;
}
.old-price {
  font-size: 24px;
  font-weight: 700;
  color: #000000;
  text-decoration: line-through;
}

.footer-block {
 position: relative;
 height : 50px;
 top: 370px;
 bottom : 0;
}
.address-block {
  background-color: #f4f7f6;
  padding: 30px;
}

.socials {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.socials-link-text {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}
.socials-link {
  display: block;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
  background-color: #f4f7f6;
}
.socials-items:nth-child(n + 2) {
  margin-left: 28px;
}

.socials-link-twitter {
  background-image: url("../svg/004-twitter.svg");
  background-size: 20px;
}
.socials-link-pinterest {
  background-image: url("../svg/001-pinterest.svg");
  background-size: 20px;
}
.socials-link-facebook {
  background-image: url("../svg/002-facebook-logo.svg");
  background-size: 20px;
}
.socials-link-instagram {
  background-image: url("../svg/005-instagram.svg");
  background-size: 20px;
}
.socials-link-tumblr {
  background-image: url("../svg/003-tumblr.svg");
  background-size: 20px;
}
.copyright {
  text-align: center;
  font-size: 24px;
  color: #888888;
  margin-top: 74px;
}
.copy-link {
  text-decoration: none;
  color: inherit;
}
.fixed-picture {
 display: none;
 text-align: center;
 position: fixed;
 z-index: 99;
 top: 0;
 position: relative;
 width: 370px;
 height: 590px;
 margin-left: 34%;
}

.page {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 380px;
  height: 600px;
}

.page-msg::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background-size: 16px;
  background-image: url("../svg/form-x.svg");
  background-color: #b59f5b;
  background-position: 50% 50%;
  margin-top: 13px;
  margin-left: 379px;
  margin-bottom: 40px;
}

.page-msg {
  color: #000000;
  padding-left: 140px;
  font-family: "OpenSansBold", sans-serif;
  text-transform: uppercase;
  font-size: 24px;
  line-height: normal;
  margin-top: 20px;
  margin-bottom: 20px;
}
.page-msg::after {
  content: "";
  display: block;
  width: 80px;
  height: 3px;
  background-color: #b59f5b;
  background-position: 50% 50%;
  margin: 13px auto 0 auto;
  margin-bottom: 20px;
}

.field-label {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-right: 150px;
}
.select {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  height: 38px;
  padding-left: 10px;
  padding-right: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #cbd1d4;
  background-color: #f9f9f9;
  background-image: url("../svg/form-arrows.svg");
  background-repeat: no-repeat;
  background-position: right 5px center;
  background-size: 16px;
  font-size: 24px;
  font-family: Arial, sans-serif;
  color: #333333;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.radio-group {
  display: inline-block;
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-right: 80px;
}
.radio-group-text::before {
  content: "";
  display: inline-block;
  color: #b59f5b;
  width: 20px;
  height: 20px;
  background-image: url("../svg/form-empty-circle.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px;
  vertical-align: middle;
  margin-right: 8px;
}
.radio-group:nth-of-type(n + 2) {
  margin-left: 20px;
}
.radio {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
}
.radio:checked {
  outline: 3px solid #b59f5b;
  outline-offset: 5px;
  color: #b59f5b;
}
.radio:checked ~ .radio-group-text::before {
  background-image: url("../svg/form-circle.svg");
  color: #b59f5b;
}

span.field-group ~ label.radio-group {
  color: #b59f5b;
}

.button {
  display: inline-block;
  font-family: inherit;
  color: #ffffff;
  font-family: "OpenSansBold", sans-serif;
  text-transform: uppercase;
  height: 48px;
  background-color: #b59f5b;
  border: none;
}

.field:focus,
.select:focus,
.radio:focus ~ .radio-group-text,
.button:focus {
  outline: 2px solid #b59f5b;
  outline-offset: 5px;
}
.button:hover {
  background-color: #323232;
}
.field textarea {
  font-family: "OpenSansBold", sans-serif;
  font-size: 24px;
}

.textarea {
  max-width: 400px;
  min-width: 400px;
  min-height: 130px;
  max-height: 250px;
  margin-top: 10px;
  border: 1px solid #cbd1d4;
  background-color: #f9f9f9;
}
@media (min-width: 641px) and (max-width: 1200px) {
  .page-header {
    background-image: url("../images/banner-bg-tablet.jpg");
  }
}
@media (max-width: 640px) {
  .page-header {
    background-image: url("../images/banner-mobile.jpg");
  }
}
@media (min-width: 641px) {
  .menu__button {
    display: none;
  }
  .title {
    font-size: 24px;
    margin: 0 auto;
  }
}

@media (max-width: 640px) {
  .title {
    font-size: 24px;
  }
}
@media (min-width: 641px) and (max-width: 1200px) (orientation: landscape) {
  .shopp-card-one {
    width: 25%;
  }
  .trend-title {
   font-size: 14px;
 }
 .post-item-tags {
  font-size: 14px;
}
}
@media (min-width: 641px) and (max-width: 1200px) (orientation: portrait) {
  .shopp-card-one {
   width: 50%;
 }
 .trend-title {
   font-size: 14px; 
 }
 .post-item-tags {
  font-size: 14px;
}
}
@media (max-width: 640px) (orientation: portrait) {
  .shopp-card-one {
   width: 100%;
 }
 .trend-title {
   font-size: 14px; 
 }
 .post-item-tags {
  font-size: 14px;
}
}
@media (max-width: 640px) (orientation: landscape) {
  .shopp-card-one {
   width: 50%;
 }
 .trend-title {
   font-size: 14px; 
 }
 .post-item-tags {
  font-size: 14px;
}
}
